/*
## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

---------- Colors ----------

- Yellow: hsl(47, 88%, 63%)

- White: hsl(0, 0%, 100%)

- Gray 500: hsl(0, 0%, 42%)
- Gray 950: hsl(0, 0%, 7%)


---------- Font ----------

- Family: [Figtree](https://fonts.google.com/specimen/Figtree)
- Weights: 500, 800
- Font size (paragraph): 16px
*/

:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Figtree", sans-serif;
    min-height: 600px;
    height: 100vh;
    background-color: var(--yellow);
    padding: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--white);
    max-width: 384px;
    width: 100%;
    padding: 24px;
    border: 1px solid var(--gray-950);
    border-radius: 20px;
    margin-bottom: 32px;
    box-shadow: 10px 10px 0px 0px var(--gray-950);

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.illustration {
    width: auto;
    border-radius: 10px;
}

.card {
    width: auto;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 12px;
}

.card-tag {
    color: var(--gray-950);
    font-size: 1.4rem;
    font-weight: 800;
    padding: 4px 12px;
    background-color: var(--yellow);
    border-radius: 4px;
}

.card-date {
    color: var(--gray-950);
    font-size: 1.4rem;
    font-weight: 500;
}

.card-title {
    color: var(--gray-950);
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 800;
}

.card-title:active {
    color: var(--yellow);
}


.card-desc {
    color: var(--gray-500);
    font-size: 1.6rem;
    font-weight: 500;
}

.avatar-link {
    width: auto;
    height: 32px;

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
}

.avatar-img {
    height: 100%;
}

.avatar-name {
    color: var(--gray-950);
    font-size: 1.4rem;
    font-weight: 800;
}

@media only screen and (max-width: 380px) {
    .card-tag,
    .card-date {
        font-size: 1.2rem;
    }

    .card-title {
        font-size: 2rem;
    }

    .card-desc {
        font-size: 1.4rem;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
